In [14]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\Wastina Belayneh\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

In [3]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
# HTML parser
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text') # directly points to div tag and class list_text with all elements within it

In [5]:
# Use the parent element to find the first `a` tag and save it as `news_title`
news_title = slide_elem.find('div', class_= 'content_title').get_text()
news_title

"NASA Engineers Checking InSight's Weather Sensors"

In [6]:
# summary of paragraph
news_summary = slide_elem.find('div', class_ = 'article_teaser_body').get_text()
news_summary

'An electronics issue is suspected to be preventing the sensors from sharing their data about Mars weather with the spacecraft.'

### Featured Images

In [7]:
# visit url
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [10]:
# Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
# splinter will click image to full size
full_image_elem.click()

In [11]:
# parsing the automated html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [12]:
# relative image url 
img_url_rel = img_soup.find('img', class_ = 'fancybox-image').get('src')
img_url_rel

'image/featured/mars3.jpg'

In [13]:
# absolute img url 
img_url_abs = f'https://spaceimages-mars.com/{img_url_rel}'
img_url_abs

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [17]:
# grab Tables
df = pd.read_html('https://galaxyfacts-mars.com/')[0]
df.columns = ['description', 'Mars', 'Earth']
df.set_index('description', inplace= True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [18]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [19]:
# end 
browser.quit()